:root {
	--font-main: "Rubik", sans-serif;

	--text-primary: #3D4044;
	--text-secondary: #3E65BE;
    
    --light-gray: #F5F5F5;
    --gray: #EFEFEF;

    --btn-default: #C6D2E5;

    --btn-add: #D0D0D0;
    --btn-add-hover: #7EA4E7;

    --hr-line: #E9E9E9;

    --br: 4px;
}